#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  list-style: none;
}

.blog {
  padding-top: 3px;
  font-size: 15px;
}

.error,
.success {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
}
